meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
link(rel="stylesheet", href="/css/style.css")
title Bestlist.pl | Panel
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.13.1/css/all.css", integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q", crossorigin="anonymous")
.app
  include includes/navbar
  include includes/server-admin
  .content
    .row
      .col-12.col-lg-4.mb-m
        .card
          img.rounded-circle.img-fluid(src=user.avatarUrl(), alt, width="60px", height="60px")
          h1.profile-h-h !{user.username}
          //- p.profile-h-p
        .card.mt
          | Zaufało nam: 
          span.serv !{stats.guilds} serwerów
          p i 
            span.serv !{stats.users} użytkowników
      .col-12.col-lg-8
        //- .card
        //-   h6
        //-     i.fas.fa-star-of-life
        //-     |    Zmiana hasła
        //-   p.script Tutaj możesz zmienić hasło
        //-   form
        //-     .form-group
        //-       label Email address
        //-       input.form-control(type="email", placeholder="Enter email")
        //-       small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        //-     button.btn.sub.btn-danger(type="submit") Submit
        .card
          //- Add .md to .card -> have padding!
          h6
            i.far.fa-hdd
            |    Lista serwerów
          p.script Tutaj możesz zobaczyć swoją listę serwerów
          .row
            each server in guilds
              +server(server)
.footer
    | © 2021 
    a.text-danger(href="/support" target="_blank") Diffuse Network
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js", integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN", crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")