head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style-servers.css')
  title !{server.name} | DisList.Me
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.13.1/css/all.css' integrity='sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q' crossorigin='anonymous')
if !server.premium
  .app
    .card
      if server.icon != null
        img.rounded-circle.img-fluid(src=server.icon, alt, width="60px", height="60px")
      else
        p.rounded-circle.img-fluid.text-center(style="font-size: 30px; width: 60px; padding: 5px; border: 2px solid #ffffff;") !{server.nameAcronym}
      h1.profile-h-h !{server.name}
      .votes
        i.fas.fa-arrow-up
        span.pl-1 !{server.votes}
      p.profile-h-p 
        | #{server.short_description}
      if server.badge
        p
          span.badge.badge-secondary.official &nbsp; !{server.badge} &nbsp;
      p.profile-h-p(style="color: #ffffff")
        | #{server.description}
      .row
        a.a-btn(href=server.invite)
          button.btn.sub.btn-danger(type='submit') Join
        if user && user.can_vote == true
          a.a-btn(href="/s/" + server.uniqueId + "/vote")
            button.btn.sub.btn-danger(type='submit')
              | Vote
        else if !user
          a.a-btn(style="width: 50% !important;",href="/login")
            button.btn.sub.btn-danger(type='submit')
              | Log in to vote
else
  .app
    .card(style="background-color: " + server.premium.backgroundColor)
      if server.icon != null
        img.rounded-circle.img-fluid(src=server.icon, alt, width="60px", height="60px")
      else
        p.rounded-circle.img-fluid.text-center(style="font-size: 30px; width: 60px; padding: 5px; border: 2px solid " + server.premium.fontColorMain + "; color: " + server.premium.fontColorMain) !{server.nameAcronym}        
      h1.profile-h-h(style="color: " + server.premium.fontColorMain) !{server.name}
      .votes
        i.fas.fa-arrow-up(style="color: " + server.premium.fontColorMain)
        span.pl-1(style="color: " + server.premium.fontColorMain)  !{server.votes}
      p.profile-h-p(style="color: " + server.premium.fontColorSecond) 
        | #{server.short_description}
      if server.badge
        p
          span.badge.badge-secondary.official(style="background-color: " + server.premium.badgeColor) &nbsp; !{server.badge} &nbsp;
      p.profile-h-p(style="color: " + server.premium.fontColorMain) 
        | #{server.description}
      .row
        a.a-btn(href=server.invite)
          button.btn.sub.btn-danger(type='submit', style="color: " + server.premium.fontColorMain + "; background-color: " + server.premium.buttonColor + ";  border-color: " + server.premium.buttonColor)
            | Join
        if user && user.can_vote == true
          a.a-btn(href="/s/" + server.uniqueId + "/vote")
            button.btn.sub.btn-danger(type='submit', style="color: " + server.premium.fontColorMain + "; background-color: " + server.premium.buttonColor + ";  border-color: " + server.premium.buttonColor)
              | Vote
        else if !user
          a.a-btn(href="/login", style="width: 50% !important;")
            button.btn.sub.btn-danger(type='submit', style="color: " + server.premium.fontColorMain + "; background-color: " + server.premium.buttonColor + ";  border-color: " + server.premium.buttonColor)
              | Log in to vote
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
